################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SFND_Lidar_Obstacle_Detection/v16/Preview/Browse.VC.opendb
